/*
	flex布局
	<van-row type="flex" justify="end center space-around space-between" align="center bottom">
	</van-row>
*/
.flex {
	display: flex;

	&-v{
		display:flex;
		align-items: center;
		&.around{
			justify-content: space-around;
		}
		&.between{
			justify-content: space-between;
		}
	}
	&-h{
		display:flex;
		justify-content: center;
		&.center{
			align-items: center;
		}
	}
	&-vh, &-center{
		display:flex;
		align-items: center;
  	justify-content: center;
	}

	&-bottom{
		align-items: flex-end;
	}
	&.around{
		justify-content: space-around;
	}
	&.between{
		justify-content: space-between;
	}

	//垂直
	&-col{
		display: flex;
		flex-direction: column;
		
		height: 100%;
		&.around{
			justify-content: space-around;
		}
		&.between{
			justify-content: space-between;
		}
	}

	&-wrap{
		$gutter: 8px;
		flex-wrap: wrap;
		margin-right: -$gutter;
		.item{
			flex-basis: 50%;
			padding-right: $gutter;
			margin-bottom: $gutter;
		}
	}

	&-1{ flex:1; }
	&-2{ flex:2; }
	&-0, &-none{ flex: none; }
}
