/**
  重置、新增vant样式
  cell:  icon, title(label), default, right-icon, extra
  field: label, input, left-icon, right-icon, button, extra | label-width, label-align, input-align
*/
.cell-detail{
  padding-top: 12px;
  padding-bottom: 12px;
  .group-title{
    font-size: 18px;
    font-weight: 500;
  }
  .van-cell{
    $text-color:#222;
    padding-top: 5px;
    padding-bottom: 5px;
    &__title {
      flex: none;
      min-width: 72px;
      margin-right: 8px;
      color: $text-color;
    }
    &__value {
      text-align: left;
      color: $text-color;
    }
    &::after{
      display: none;
    }
    &__value--alone{}
  }
}

.van-cell{
  &-group{
    margin-top: 10px;
    &:first-of-type,
    &__title + .van-cell-group {
      margin-top: 0;
    }
    
    &__title{
      padding: 10px 12px;
      background-color: $bg;
    }

    &[size=small] .van-cell{
      padding: 5px 8px;
    }
    &[size=large]{
      .van-cell{
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
      }
      .van-cell__label{
        font-size: 14px;
      }
    } 
    &.radius{
      border-radius: $gutter/2;
      overflow: hidden;
    }
  }

  &--required::before{
    line-height: 28px;
    left: 5px;
  }
  &--small{
    padding: 5px 8px;
  }
  &__left-icon{}
}

.field-box {
  .van-cell__value {
    position: relative;
    padding: 6px;
    &::before {
      @include boxline(#ddd, 8px);
      z-index: 0;
    }
    &--alone{
      margin-top: -12px;
    }
  }
}

//<van-icon class-prefix="my-icon" name="extra" />

//van-button-icon按钮
.van-button{
  &[column], &[group]{
    position: relative;
    height: auto;
    border: none;
  }
}
.van-button[column]{
  .van-button{
    &__content{
      &::before{display: none;}
      flex-direction: column;
    }
    &__icon{font-size: 1.3em;}
    &__text{ margin-left: 0; }
  }
}

.van-button[group]:not(:last-child)::after{
  @include oneline(right);
  transform: translateY(-50%);
  top: 50%;
  height: 18px;
}

.van-search {
  height: 44px;
  &__content {
    background-color: #f1f2f6;
  }
}
.dark {
  &.van-search{
    background-color: #ededed;
  }
  .van-search__content {
    background-color: #fff;
  }
}


.van-tag{
  margin-right: 6px;
}

//上传--基于cell
.van-uploader{
  $gutter:.8rem;
  $size:4.5rem;
  padding-top: 8px;
  margin-bottom: -8px;
  
  &__preview{
    margin: 0 $gutter $gutter 0;
  }
  &__upload, &__preview-image{
    width: $size;
    height: $size;
  }
  &__preview-delete{
    top: -5px;
    right: -4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    .van-icon{
      transform: scale(.7);
      top: -1px;
      right: -1px;
    }
  }
}


.van-collapse-item{
  &:not(:first-child){
    margin-top: $gutter;
  }
  &__title{
    color: $blue-1;
    font-size: 16px;
    font-weight: 500;
    &::after{
      left: 0;
      right: 0;
    }
  }
}

// Steps
.van-steps{
  &--horizontal{
    .van-step__line{
      height: 2px;
    }
  }
  &--vertical{
    .van-step__line{
      width: 2px;
      left: -16px;
    }
    .van-step:not(:last-child) .van-step__circle {
      background-color: #fff;
      width: 12px;
      height: 12px;
      border: 3px solid $blue;
    }
    .van-step:last-child {
      .van-step__circle {
        background-color: $blue;
      }
    }
  }
}