
// flex布局
.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-left{
		justify-content: flex-start;
	}
	&-top{
		align-items: flex-start;
	}
	&-middle{
		justify-content: center;
		align-items: center;
	}
}
.flex-col{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
