.sprite1 { background-image: url(/static/images/sprite1.png); background-size:92px 44px; display:inline-block; }
.sprite1-addr { width: 44px; height: 44px; background-position: 0px 0px; }
.sprite1-cart { width: 44px; height: 44px; background-position: -48px 0px; }