html {
	font-size: 20px;
  font-size: 5.33333vw;
  -webkit-text-size-adjust: 100%;
}
@media screen and (max-width: 320px) {
	html {
		font-size: 17.06667px;
	}
}
@media screen and (min-width: 540px) {
	html {
    font-size: 28.8px;
  }
  .van-nav-bar--fixed,
  .header-bar,
  .van-tabbar{
    max-width: 640px;
    left: 50% !important;
    transform: translateX(-50%);
  }
}

html, body, #app{
  height: 100%;
  position: relative;
  background-color: $bg;
}

body{
  // padding-top: env(safe-area-inset-top);    //iphone安全域
  box-sizing:border-box;
  max-width: 640px;
  margin: 0 auto;
  font-size: .8rem;
}
[v-cloak] { visibility: hidden }

.router-view{
  height: 100%;
  // padding-top: 45px;                   //nav-bar
  box-sizing: border-box;
  &.android{
    padding-top: 65px;
    // .van-sticky--fixed{
    //   top: 60px;
    // }
  }
}

$btnArea: 80px;                           //固定按钮高度
.pages{
  height: 100%;
  overflow: auto;
  overscroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  &.noscroll{
    -webkit-overflow-scrolling:initial;
  }

  &.fixed-bottom{
    padding-bottom: $btnArea;
    .pages__oper{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      z-index:2;
    }
  }

  //pages--滚动区域
  .van-dropdown-menu + &{
    height: calc(100% - 48px);
  }
  .van-search + &{
    height: calc(100% - 44px);
  }
  .van-pull-refresh,.van-list{
    height: 100%;
  }
  .tabbar & {
    padding-bottom: 50px;
  }
}

//按钮区域
.pages__oper {
  display: flex;
  padding: 13px 12px;
  background-color: #fff;
  .van-button{
    border-radius: 6px;
    font-size: 16px;
    &:not(:last-child){
      margin-right: 10px;
    }
    &.linear{
      background-image: $linear;
      border: 0;
    }
  }
}

//态态栏 andr:20px ios: 44px
//适配iphoneX安全域 
@mixin iphoneX {
  body, .van-popup{
    padding-bottom: env(safe-area-inset-bottom);    
  }
  
  .pages{
    &.fixed-bottom{
      padding-bottom: $btnArea - 24px;
    }
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
  @include iphoneX;
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:2) {
	@include iphoneX;
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio:3) {
	@include iphoneX;
}