$gray: #888;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #666;
$gray-8: #323232;
$red: #FF4439;
$blue: #1789EB;
$orange: #ff976a;
$green: #07c160;

$text-color:$gray-8;

$linear: linear-gradient(to right, #36BDFF, #1889EB);

$radius: 5px;
$gutter: 12px;

