$bg: #f0f2f5;
$gray: #888;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #999;
$gray-7: #646566;
$gray-8: #1F2021;
$text-color:$gray-8;

$red: #E23F55;
$blue: #1789EB;
$blue: #124FED;
$blue-1: #13C2C2;
$orange: #ECA32D;
$green: #53BB2D;
$dark: #aaa;



$linear: linear-gradient(to right, #58A4F0, #3D3DF4);

$radius: 6px;
$gutter: 12px;

