@import './base.scss';
@import './themes/green.scss';
@import './themes/dark.scss';

html,
body {
  height: 100%;
  overflow-y: auto;
  background-color: #f1f3f5;
}

#app {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
.router {
  width: 100%;
  backface-visibility: hidden;
  min-height: 100vh;
}
