/*
  重置vant默认样式
*/
@gutter: 12px;

@red: #ED1F23;
@blue: #007DFA;
@blue: #124FED;
@gray-5: #c8c9cc;
@gray-6: #999;
@gray-7: #646566;
@gray-8: #1F2021;

// Cell
@cell-group-title-padding: @padding-base @padding-md @padding-base;
@cell-horizontal-padding: 12px;
@cell-font-size: 16px;  
@cell-label-font-size: 14px;
@cell-icon-size: 18px;
@cell-value-color: @gray-7;

@field-label-width: 86px;
@field-label-color: #222;
@field-clear-icon-size: 22px;
@field-input-text-color: @gray-7;


// Tabs
@tabs-default-color: @blue;
@tabs-line-height: 44px;
@tabs-bottom-bar-width: 80px;
@tabs-bottom-bar-height: 2px;

@tab-active-text-color: @blue;
@tab-font-size: @font-size-lg;

// Steps
@step-font-size: @font-size-md;
@step-horizontal-title-font-size: @font-size-md;
@step-active-color: @blue;
@step-finish-line-color: @blue;
@step-line-color: #ddd;
@step-icon-size: 24px;
@step-circle-size: 10px;
@step-circle-color: @gray-5;

// Collapse
@collapse-item-content-font-size:14px;
@collapse-item-content-text-color: #323233;
@collapse-item-content-padding:0;

// Loading
@loading-text-color: @gray-7;
@loading-text-font-size: 15px;
@loading-spinner-size: 40px;
@loading-spinner-color: @gray-7;
@pull-refresh-head-font-size: 15px;
@pull-refresh-head-text-color: @gray-7;

// Other
@empty-image-size: 100%;
@empty-description-font-size: 15px;
@switch-size: 26px;