.sprite { background-image: url(/static/images/sprite.png); background-size:484px 180px; display:inline-block; }
.sprite-1 { width: 240px; height: 180px; background-position: 0px 0px; }
.sprite-2 { width: 240px; height: 180px; background-position: -244px 0px; }