.sprite { background-image: url(/static/images/sprite.png); background-size:242px 90px; display:inline-block; }
.icon-1 { width: 120px; height: 90px; background-position: 0px 0px; }
.icon-2 { width: 120px; height: 90px; background-position: -122px 0px; }