html {
	font-size: 20px;
  font-size: 5.33333vw;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 320px) {
	html {
		font-size: 16px;
	}
}
@media screen and (min-width: 540px) {
	html {
    font-size: 28.8px;
	}
}

[v-cloak] { visibility: hidden }

html, body, #app{
  height: 100%;
}
body {
	max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.6;
  font-family: -apple-system, Helvetica, sans-serif arial;
}

